* {
	font-family: 'Helvetica Neue', 'Lucida Grande', sans-serif;
	margin: 1%;
}
header {
	text-align: left;
	padding: 5px 10px 10px 5px;
}

.column-1 {
	float: left;
	width: 45%;
	display: inline-block;
	padding: 5px 10px 10px 5px;

}

header h1 {
background-color: #9bc2cf;
}

.column-2 {
	float: right;
	width: 45%;
	display: inline-block;
	padding: 5px 10px 10px 5px;
}

footer {
	text-align: left;
	clear: both;
}

details, header p {
	background-color: #d3d3d3;
}

